@use './base.scss';
@use 'primeicons/primeicons.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

// sidebar active background color
.sidebar-item {
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: var(--sidebar-active-bg);
}

.sidebar-item.active {
  background-color: var(--sidebar-active-bg);
}