:root {
  --my-primary-color: var(--p-primary-color);

  --link-color: #0D90FF;
  --text-color: #212327;
  --border-color: #F1F1F1;
  --body-background: #f1f2f6;
  --background-color: #FFFFFF;

  --dark-mode-border-color: #2c2c2c;
  --dark-mode-text-color: #f1f1f1;
  --dark-mode-body-background: #0B0B0B;
  --dark-mode-component-background: #1e1e1e;

  --font-size-title: 14px;
  --font-size-head: 12px;
  --font-size-label: 14px;
  --font-size-caption: 12px;
  --font-size-body-text: 12px;
  --font-size-input-info-icon: 10px;

  --sidebar-active-bg: var(--my-primary-color);
  --sidebar-parent-child-bg: var(--body-background)
}

html{
  font-size: var(--font-size-body-text);
}

.text-title {
  font-size:var(--font-size-title);
  font-weight: 700;
}
.text-head{
  font-size:var(--font-size-head);
  font-weight: 700;
}
.text-label{
  font-size:var(--font-size-label);
  font-weight: 400;
}
.text-caption{
  font-size:var(--font-size-caption);
  font-weight: 400;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: var(--font-size-body-text);
  font-weight: 400;
  font-family: "SF Pro Text","SF Pro Icons",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Open Sans","Arial",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

// dark mode
.my-app-dark {
  & {
    background-color: var(--dark-mode-body-background);
    color: var(--dark-mode-text-color);
  }
  * {
    // border-color: var(--dark-mode-border-color);
  }

  // --sidebar-active-bg: var(--my-primary-color);
  --sidebar-parent-child-bg: var(--dark-mode-body-background)
}
